@charset "utf-8";
@font-face {
  font-family: Open Sans;
  src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Headers;
  src: url(/fonts/OpenSans-Light.ttf);
}
html, body {
  font-family: Open Sans;
}
h1, h2, h3, h4, h5 {
  font-family: Headers;
}