@font-face{
	font-family:"MuaThu";
	src:url(../index.html);
	src:url(../index.html#iefix) format("embedded-opentype"),
	url(font/uvnmuathu.woff) format("woff"),
	url(font/uvnmuathu.ttf) format("truetype"),
	url(font/uvnmuathu.svg) format("svg");
}
@font-face {
	font-family: 'font_2';
	src: url('../index.html');
	src: url('../index.html?#iefix') format('embedded-opentype'), url('font_2/font.woff') format('woff'), url('font_2/font.ttf') format('truetype');
	font-weight: 400;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased!important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden
}

@font-face {
	font-family: 'banhkem';
	src: url('../index.html');
	src: url('../index.html?#iefix') format('embedded-opentype'), url('font_3/fre.woff') format('woff'), url('font_3/fre.ttf') format('truetype');
	font-weight: 400;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased!important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden
}
@font-face {
	font-family: 'Roboto_new';
	font-style: normal;
	font-weight: 300;
	src: url(font_4/roboto-condensed-regular.ttf) format('woff');
}

@font-face {
    font-family: 'in_nghien';
    src: url('innghien/14-10263-uvnmuathu.woff2') format('woff2'),
         url('innghien/14-10263-uvnmuathu.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}