<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Albury - Web Hosting HTML Template | Homepage One</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="../../https@cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="inner-container clearfix">
                    
                    <!--Top Left-->
                    <div class="top-right">
                        <div class="language dropdownn"><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="icon fa fa-globe"></span> &nbsp;English</a>
                            <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">Chines</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">French</a></li>
                            </ul>
                        </div>
                    	<ul class="links clearfix">
                            <li><a href="#"><span class="icon fa fa-headphones"></span>Support : 84 28 3933 6666</a></li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-left clearfix">
                    	<!--social-icon-->
                        <div class="social-icon">
                        	<ul class="clearfix">
                            	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                    
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Trang chủ</a>
                                    	<ul>
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header Style One</a></li>
                                                    <li><a href="index-2.html">Header Style Two</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Co-Location</a>
                                    	<ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Cloud Services</a></li>
                                    <li class="dropdown"><a href="#">IT Solution</a>
                                    	<ul>
                                            <li><a href="hosting.html">Dedicated Hosting</a></li>
                                            <li><a href="reseller-hosting.html">Reseller Hosting</a></li>
                                            <li><a href="shared-hosting.html">Shared Hosting</a></li>
                                            <li><a href="vps-hosting.html">VPS Hosting</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Kênh Truyền</a>
                                    	<ul>
                                            <li><a href="blog.html">Blog Grid View</a></li>
                                        <li><a href="blog-classic.html">Blog with Sidebar</a></li>
                                        <li><a href="blog-detail.html">Blog Details 01</a></li>
                                        <li><a href="blog-detail-2.html">Blog Details 02</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">License</a></li>
                                    <li><a href="contact.html">Manage Services</a></li>
                                    <li><a href="contact.html">Liên Hệ</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <div class="outer-box">
                        
                        	<a href="#" class="theme-btn btn-style-one"><span class="icon flaticon-user-2"></span> LOGIN</a>
                            
                        </div>
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    
    	<!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive" title="Hilltop"><img src="images/logo.png" alt="Tali" title="Hilltop"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                          <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                            <ul class="navigation navbar-nav default-hover">
                                <li class="current dropdown"><a href="#">Trang chủ</a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li class="dropdown"><a href="#">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header Style One</a></li>
                                                <li><a href="index-2.html">Header Style Two</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Co-Location</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Cloud Services</a></li>
                                <li class="dropdown"><a href="#">IT Solution</a>
                                    <ul>
                                        <li><a href="hosting.html">Dedicated Hosting</a></li>
                                        <li><a href="reseller-hosting.html">Reseller Hosting</a></li>
                                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                                        <li><a href="vps-hosting.html">VPS Hosting</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Kênh Truyền</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Grid View</a></li>
                                    <li><a href="blog-classic.html">Blog with Sidebar</a></li>
                                    <li><a href="blog-detail.html">Blog Details 01</a></li>
                                    <li><a href="blog-detail-2.html">Blog Details 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">License</a></li>
                                <li><a href="contact.html">Manage Services</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>    
                            </ul>
                          </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Main Slider-->
    <section class="main-banner">
    	<div class="outer-container clearfix">
        	<!--Curve Box-->
            <div class="curve-box"></div>
            
        	<div class="auto-container clearfix">
            	<!--Content Column-->
            	<div class="content-box">
                	<div class="inner">
                    	<h2 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">CUNG CẤP HỆ SINH THÁI DỊCH VỤ HẠ TẦNG</h2>
                        <ul class="features-list">
                        	<li class="wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0ms; animation-name: fadeInLeft;"><span class="icon flaticon-cloud"></span>Co-location</li>
                            <li class="wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;"><span class="icon flaticon-database"></span>Cloud services</li>
                            <li class="wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInLeft;"><span class="icon flaticon-headset"></span>IT Solution</li>
                            <li class="wow fadeInLeft animated" data-wow-delay="900ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInLeft;"><span class="icon flaticon-keyboard"></span>Domain</li>
                        </ul>
                        <div class="btns-box wow fadeInLeft animated" data-wow-delay="1200ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1200ms; animation-name: fadeInLeft;">
                            <a href="contact.html" class="theme-btn btn-style-two">Liên hệ<span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
        	<div class="sec-title centered">
            	<h2>Tổng quan dịch vụ</h2>
                <div class="text">DTS Nhà cung cấp dịch vụ Internet chuyên nghiệp</div>
            </div>
            
            <div class="row clearfix">
            	
                <!--Services Block-->
                <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/icons/icon-1.png" alt=""></span>
                        </div>
                        <h3><a href="services.html">Co-location</a></h3>
                        <div class="text">DTS cung cấp một hệ thống các dịch vụ và giải pháp hạ tầng chuyên sâu. Hỗ trợ kỹ thuật 24/7/365</div>
                        <a href="services.html" class="read-more">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/icons/icon-2.png" alt=""></span>
                        </div>
                        <h3><a href="services.html">Cloud services</a></h3>
                        <div class="text">Đội ngũ kỹ thuật giám sát 24/7/365 và sẵn sàng hỗ trợ bạn bất kì thời gian nào khi có yêu cầu</div>
                        <a href="services.html" class="read-more">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInLeft animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeInLeft;">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/icons/icon-3.png" alt=""></span>
                        </div>
                        <h3><a href="services.html">IT solution</a></h3>
                        <div class="text">DTSkhông ngừng nghiên cứu và làm chủ các công nghệ mới để xây dựng hệ sinh thái dịch vụ hoàn chỉnh và tối ưu</div>
                        <a href="services.html" class="read-more">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInLeft animated" data-wow-delay="1200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 1200ms; animation-name: fadeInLeft;">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/icons/icon-4.png" alt=""></span>
                        </div>
                        <h3><a href="services.html">License</a></h3>
                        <div class="text">DTS chuyên Cung cấp bản quyền phần mềm và giải pháp phần mềm ảo hoá điện toán đám mây (IaaS)</div>
                        <a href="services.html" class="read-more">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Services Section-->
    

	<!--Domain Section-->
    <section class="domain-section">
        <div class="auto-container">
        	<div class="cloud-one"></div>
            <div class="cloud-two"></div>
        	<div class="sec-title light centered">
            	<h2>TÌM KIẾM TÊN MIỀN</h2>
                <div class="text">Chọn tên miền tại DTS để bắt đầu !</div>
            </div>
            <!--Domain Form-->
            <div class="domain-form">
                <form method="post" action="contact.html">
                    <div class="form-group clearfix">
                        <input type="email" name="email" value="" placeholder="Tên miền bạn muốm mua" required="">
                        <button type="submit" class="theme-btn checked-btn">Kiểm Tra<span class="arrow fa fa-angle-right"></span></button>
                    </div>
                </form>
            </div>
            <ul class="domain-list">
            	<li>.com <span>269k</span></li>
                <li>.com.vn <span>650k</span></li>
                <li>.net <span>269k</span></li>
                <li>.vn<span>759k</span></li>
            </ul>
        </div>
    </section>
    <!--End Domain Section-->
    
    <!--Hosting Section-->
    <section class="hosting-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                	<div class="image wow slideInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                    	<img src="images/resource/hosting.jpg" alt="">
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-column">
                        <h2>Co-location</h2>
                        <div class="text">Dịch vụ cung cấp không gian hạ tầng chỗ đặt, hệ thống điện, điều hòa và các thiết bị liên quan khác để triển khai hệ thống CNTT, đảm bảo hệ thống hoạt động 24/07, cho phép khách hàng toàn quyền sử dụng, kiểm soát hệ thống của mình.</div>
                        <ul class="list-style-one">
                        	<li>Rack colocation</li>
                            <li>Server colocation</li>
                            <li>Dedicated Server</li>
                            
                        </ul>
                        <a href="contact.html" class="theme-btn btn-style-two wow bounce animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: bounce;">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Hosting Section-->

    <section class="hosting-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	
                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-column">
                        <h2>Cloud services</h2>
                        <div class="text">Công nghệ điện toán đám mây, chia sẻ và đồng bộ dữ liệu hiệu quả từ tất cả các thiết bị có kết nối Internet</div>
                        <ul class="list-style-one">
                        	<li>Public Cloud</li>
                            <li>Private Cloud</li>
                            <li>Office 365</li>
                            
                        </ul>
                        <a href="contact.html" class="theme-btn btn-style-two wow bounce animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: bounce;">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                    
                
                
            </div>
<!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                	<div class="image wow slideInLeft animated animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                    	<img src="images/resource/png-01.png" alt="">
                    </div>
                </div>
                </div>
        </div>
    </section>
<section class="hosting-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                	<div class="image wow slideInLeft animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                    	<img src="https://ods.vn/wp-content/uploads/2018/08/Internet-Services-Provider-2.png" alt="">
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-column">
                        <h2>IT solution</h2>
                        <div class="text">Đội ngũ DTS chuyên nghiệp và nhiều kinh nghiệm sẽ đưa ra các giải pháp tối ưu cho công ty, đảm bảo hệ thống công nghệ thông tin hoạt động ổn định</div>
                        <ul class="list-style-one">
                        	<li>Giải pháp mạng tổng thể</li>
                            <li>Giải pháp bảo mật tổng thể</li>
                            
<li>Giải pháp lưu trữ tập trung</li>
<li>Giải pháp hội nghị truyền hình</li>
<li>Giải pháp Private cloud &amp; VDI</li><li>Giải pháp sao lưu &amp;amp; phục hồi dữ liệu</li>
                            
                        </ul>
                        <a href="contact.html" class="theme-btn btn-style-two wow bounce animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: bounce;">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<section class="hosting-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	
                <!--Content Column-->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-column">
                        <h2>License</h2>
                        <div class="text">Cung cấp bản quyền phần mềm và giải pháp phần mềm ảo hoá điện toán đám mây (IaaS)</div>
                        <ul class="list-style-one">
                        	<li>Microsoft SPLA</li>
                            <li>Plesk Onyx</li>
                            
<li>cPanel</li>
<li>Direct Admin</li><li>Cloud Linux</li>
                            
                        </ul>
                        <a href="contact.html" class="theme-btn btn-style-two wow bounce animated animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: bounce;">Xem thêm<span class="arrow fa fa-angle-right"></span></a>
                    </div>
                    
                
                
            </div>
<!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                	<div class="image wow slideInLeft animated animated animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInLeft;">
                    	<img src="https://www.ironcad.com/wp-content/uploads/2018/04/SoftwareLicensing.png" alt="">
                    </div>
                </div>
                </div>
        </div>
    </section>
    <!--End Hosting Section-->
    
    <!--Testimonial Section-->
    <section class="testimonial-section">
    	<div class="auto-container">
        	<div class="sec-title centered">
            	<h2>Đánh giá của khách hàng</h2>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme">
            	
                <!--Testimonial Block-->
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="text">MediaZ đã sử dụng khá nhiều dịch cung cấp máy chủ trên toàn thế giới, và với những website phù hợp với người dùng Việt Nam, DTS là một trong những sự lựa chọn hàng đầu, bởi sự ổn định của server, cũng như sự hỗ trợ nhiệt tình, bên cạnh đó giá thành cũng rất cạnh tranh. Tôi tin rằng DTS sẽ sớm trở thành nhà cung cấp Hosting/VPS hàng đầu tại Việt Nam.</div>
                        <div class="author-image">
                        	<img src="images/resource/author-1.jpg" alt="" />
                        </div>
                        <h3>Mrs. Trương Linh</h3>
                        <div class="designation">CEO-Mediaz</div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="text">MediaZ đã sử dụng khá nhiều dịch cung cấp máy chủ trên toàn thế giới, và với những website phù hợp với người dùng Việt Nam, DTS là một trong những sự lựa chọn hàng đầu, bởi sự ổn định của server, cũng như sự hỗ trợ nhiệt tình, bên cạnh đó giá thành cũng rất cạnh tranh. Tôi tin rằng DTS sẽ sớm trở thành nhà cung cấp Hosting/VPS hàng đầu tại Việt Nam.</div>
                        <div class="author-image">
                        	<img src="images/resource/author-1.jpg" alt="" />
                        </div>
                        <h3>Mrs. Trương Linh</h3>
                        <div class="designation">CEO-Mediaz</div>
                    </div>
                </div>
                <!--Testimonial Block-->
                <div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="text">MediaZ đã sử dụng khá nhiều dịch cung cấp máy chủ trên toàn thế giới, và với những website phù hợp với người dùng Việt Nam, DTS là một trong những sự lựa chọn hàng đầu, bởi sự ổn định của server, cũng như sự hỗ trợ nhiệt tình, bên cạnh đó giá thành cũng rất cạnh tranh. Tôi tin rằng DTS sẽ sớm trở thành nhà cung cấp Hosting/VPS hàng đầu tại Việt Nam.</div>
                        <div class="author-image">
                        	<img src="images/resource/author-1.jpg" alt="" />
                        </div>
                        <h3>Mrs. Trương Linh</h3>
                        <div class="designation">CEO-Mediaz</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->
    
    <!--News Section-->
    <section class="news-section">
    	<div class="auto-container">
        	<div class="sec-title centered">
            	<h2>Tin mới</h2>
                <div class="text">Các tin tức mới về các chương trình khuyến mãi của chúng tôi</div>
            </div>
            <div class="row clearfix">
            	
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    	<div class="image">
                        	<a href="blog-detail.html"><img src="http://t.commonsupport.com/albury/images/resource/news-1.jpg" alt=""></a>
                        </div>
                        <div class="lower-content">
                        	<div class="upper-box">
                        		<div class="post-date">APRIL 2018</div>
                            	<h3><a href="blog-detail.html">Thông báo bảo trì hệ thống </a></h3>
                            	<div class="text">The wonderful serenity has taken possess of my entire soul, like these sweet mornings which I enjoy with my whole heart.</div>
                            </div>
                            <div class="lower-box">
                            	<ul>
                                	<li><a href="blog-detail.html"><span class="icon flaticon-folder"></span> Shared Hosting</a></li>
                                    <li><a href="blog-detail.html"><span class="icon flaticon-commenting"></span> 35</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    	<div class="image">
                        	<a href="blog-detail.html"><img src="http://t.commonsupport.com/albury/images/resource/news-2.jpg" alt=""></a>
                        </div>
                        <div class="lower-content">
                        	<div class="upper-box">
                        		<div class="post-date">MAY 2018</div>
                            	<h3><a href="blog-detail.html">Chương trình khuyến mãi 2019</a></h3>
                            	<div class="text">The wonderful serenity has taken possess of my entire soul, like these sweet mornings which I enjoy with my whole heart.</div>
                            </div>
                            <div class="lower-box">
                            	<ul>
                                	<li><a href="blog-detail.html"><span class="icon flaticon-folder"></span> Shared Hosting</a></li>
                                    <li><a href="blog-detail.html"><span class="icon flaticon-commenting"></span> 35</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                	<div class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    	<div class="image">
                        	<a href="blog-detail.html"><img src="http://t.commonsupport.com/albury/images/resource/news-3.jpg" alt=""></a>
                        </div>
                        <div class="lower-content">
                        	<div class="upper-box">
                        		<div class="post-date">JULY 2018</div>
                            	<h3><a href="blog-detail.html">Giảm giá sever tháng 2/2019</a></h3>
                            	<div class="text">The wonderful serenity has taken possess of my entire soul, like these sweet mornings which I enjoy with my whole heart.</div>
                            </div>
                            <div class="lower-box">
                            	<ul>
                                	<li><a href="blog-detail.html"><span class="icon flaticon-folder"></span> Shared Hosting</a></li>
                                    <li><a href="blog-detail.html"><span class="icon flaticon-commenting"></span> 35</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End News Section-->
    
    <!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	<div class="sec-title centered">
            	<h2>Đối tác</h2>
                <!-- <div class="text"></div> -->
            </div>
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Sponsors Section-->

    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="icon-one"></div>
        <div class="icon-two"></div>
        <div class="icon-three"></div>
        <div class="icon-four"></div>
		<div class="auto-container">
        
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
					
                    <!--Big Column-->
                    <div class="big-column col-lg-12 col-md-12 col-sm-12">
                    	<div class="row clearfix">
                        
                        	<!--Footer Column-->
                            
<div class="footer-column col-lg-3 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h2>Trụ sở chính</h2>
                                    <ul class="list-style-two">
                                    	<li><span class="icon flaticon-placeholder-2"></span><b>Tòa nhà DTS
</b> <br>
287B Điện Biên Phủ, Phường 7, Quận 3, TP Hồ Chí Minh, Việt Nam</li>
                                        <li><span class="icon flaticon-letter"></span>support@dts.com.vn</li>
                                        <li><span class="icon flaticon-smartphone-1"></span>+(84) 283 933 6666</li>
                                    </ul>
								</div>
                            </div>
<div class="footer-column col-lg-3 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h2>Văn phòng Hà Nội</h2>
                                    <ul class="list-style-two">
                                    	<li><span class="icon flaticon-placeholder-2"></span><b>Tòa nhà Sao Bắc
</b> <br>Tầng 8, 04 Dã Tượng, Quận Hoàn Kiếm, TP Hà Nội, Việt Nam</li>
                                        <li><span class="icon flaticon-letter"></span>support@dts.com.vn</li>
                                        <li><span class="icon flaticon-smartphone-1"></span>+(84) 024 3942 6568</li>
                                    </ul>
								</div>
                            </div><div class="footer-column col-lg-3 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h2>Văn phòng Đà Nẵng</h2>
                                    <ul class="list-style-two">
                                    	<li><span class="icon flaticon-placeholder-2"></span><b>Tòa nhà Danabook
</b> <br>Phòng 424, Số 76 Bạch Đằng, Quận Hải Châu, TP Đà Nẵng, Việt Nam</li>
                                        <li><span class="icon flaticon-letter"></span>support@dts.com.vn</li>
                                        <li><span class="icon flaticon-smartphone-1"></span>+(84) 236 381 2936</li>
                                    </ul>
								</div>
                            </div>
<div class="footer-column col-lg-3 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h2>Trung Tâm Hỗ Trợ</h2>
                                    <ul class="list-style-two">
                                    	
                                        <li><span class="icon flaticon-letter"></span>noc@dts.com.vn</li>
                                        <li><span class="icon flaticon-smartphone-1"></span>18001537</li>
                                    </ul>
								</div>
                            </div>

                            
                            <!--Footer Column-->
                            
                            
                        </div>
                    </div>
                    
                    <!--Big Column-->
                    
                    
                </div>
            </div>
            
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left">
                    	<div class="copyright">© 2019. All rights reserved</div>
                    </div>
                    <div class="pull-right">
                    	<ul class="social-icon-one">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="js/jquery.js"></script> 
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>

</body>
</html>